<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>previewImageName</key>
		<string>1girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFFFFF</string>
		<key>gradualColorTwo</key>
		<string>FF70B0</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>2girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>BAFEC9</string>
		<key>gradualColorTwo</key>
		<string>BAFEC9</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>3girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFEBB6</string>
		<key>gradualColorTwo</key>
		<string>FFDD20</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>4girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>E2CEFF</string>
		<key>gradualColorTwo</key>
		<string>C4A2FF</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>5girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFC6EA</string>
		<key>gradualColorTwo</key>
		<string>FFA5DE</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>6girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>BDE9FF</string>
		<key>gradualColorTwo</key>
		<string>95DBFE</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>7girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFD5CE</string>
		<key>gradualColorTwo</key>
		<string>FFBFB4</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>8girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>99C1FF</string>
		<key>gradualColorTwo</key>
		<string>78ADFF</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>9girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>8ECCE5</string>
		<key>gradualColorTwo</key>
		<string>A2E4FF</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>10girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>539FAD</string>
		<key>gradualColorTwo</key>
		<string>63B5C4</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>11girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FEF8EA</string>
		<key>gradualColorTwo</key>
		<string>FFF7E5</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>12girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFE9F5</string>
		<key>gradualColorTwo</key>
		<string>FF70B0</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>13girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFB4BB</string>
		<key>gradualColorTwo</key>
		<string>FFB4BB</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>14girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>FFFFB9</string>
		<key>gradualColorTwo</key>
		<string>FFFFB9</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>15girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>BAFEC9</string>
		<key>gradualColorTwo</key>
		<string>BAFEC9</string>
		<key>isDashLine</key>
		<false/>
	</dict>
	<dict>
		<key>previewImageName</key>
		<string>16girlscamera_brush</string>
		<key>StrokeType</key>
		<string>Normal</string>
		<key>gradualColorOne</key>
		<string>BAE1FF</string>
		<key>gradualColorTwo</key>
		<string>BAE1FF</string>
		<key>isDashLine</key>
		<false/>
	</dict>
</array>
</plist>
