<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>overlayer_sele</string>
	<string>v1_1_t_1girlscamera</string>
	<string>v1_1_t_2girlscamera</string>
	<string>gril_cam_sticker_1</string>
	<string>gril_cam_sticker_2</string>
	<string>1girlscamera_brush</string>
	<string>2girlscamera_brush</string>
</array>
</plist>
