<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>thumbnail</key>
		<string>overlayer_sele</string>
		<key>contentImageName</key>
		<string>overlayer_sele</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_1girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_1girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_2girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_2girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_3girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_3girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_4girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_4girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_5girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_5girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_6girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_6girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_7girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_7girlscamera</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>v1_1_8girlscamera</string>
		<key>thumbnail</key>
		<string>v1_1_t_8girlscamera</string>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>thumb_1girlscamera_template1</string>
		<key>contentImageName</key>
		<string>1girlscamera_template1</string>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>thumb_2girlscamera_template1</string>
		<key>contentImageName</key>
		<string>2girlscamera_template1</string>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>thumb_3girlscamera_template1</string>
		<key>contentImageName</key>
		<string>3girlscamera_template1</string>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>thumb_4girlscamera_template1</string>
		<key>contentImageName</key>
		<string>4girlscamera_template1</string>
	</dict>
</array>
</plist>
