<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_1sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_1sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_2sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_2sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_3sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_3sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_4sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_4sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_5sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_5sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_6sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_6sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_7sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_7sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_8sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_8sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_9sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_9sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_10sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_10sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_11sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_11sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>v1_1_12sticker</string>
        <key>thumbnail</key>
        <string>v1_1_t_12sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>1girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_1girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>2girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_2girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>3girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_3girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>4girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_4girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>5girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_5girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>6girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_6girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>7girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_7girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>8girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_8girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>9girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_9girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>10girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_10girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>11girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_11girlscamera_sticker</string>
    </dict>
    <dict>
        <key>contentImageName</key>
        <string>12girlscamera_sticker</string>
        <key>thumbnail</key>
        <string>thumb_12girlscamera_sticker</string>
    </dict>
</array>
</plist>
