<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_1_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_1</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_2_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_2</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_3_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_3</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_4_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_4</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_5_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_5</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_6_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_6</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_7_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_7</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_8_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_8</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_9_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_9</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_10_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_10</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_11_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_11</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_12_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_12</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_13_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_13</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_14_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_14</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_15_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_15</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_16_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_16</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_17_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_17</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_18_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_18</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_19_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_19</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_20_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_20</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_21_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_21</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_22_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_22</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_23_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_23</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_24_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_24</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_25_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_25</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_26_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_26</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_27_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_27</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_28_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_28</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_29_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_29</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_30_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_30</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_31_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_31</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_32_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_32</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_33_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_33</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_34_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_34</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_35_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_35</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_36_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_36</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_37_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_37</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_38_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_38</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_39_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_39</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_40_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_40</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_41_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_41</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_42_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_42</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_43_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_43</string>
        </dict>
        <dict>
            <key>contentImageName</key>
            <string>gril_cam_sticker_44_big</string>
            <key>thumbnail</key>
            <string>gril_cam_sticker_44</string>
        </dict>
    </array>
</plist>
